.trash
data
__pycache__
logs
outputs
llms
plm
pretrained_model
ckpt
glove_embeddings
json
metrics
model_output
experiments
dataset
inputs
api_data
results
table_results
pretrain_models
img
CLINC_OOD
traditional_methods.tar.gz
.vscode
pretrained_models
pretrain_model